.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid rgb(2, 117, 216);
}

 body {
        background-color: #f1f1f1;
        margin: 0;
	 	color: #0275d8;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }

.container { text-align: center; }

.form-control {
    color: #0275d8;
}
